# /etc/systemd/system/inputleap_checker.service
[Unit]
Description=Reintentar inputleap.service si está caído

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'if ! systemctl is-active --quiet inputleap.service; then systemctl restart inputleap.service; fi'
